.block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 8px;
  width: 330px;
  height: 100%;

  @include mobile {
    display: none;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $background-base;
  padding: 8px 12px;
  border-radius: 8px;
}
