.layout {
  display: flex;
  gap: 8px;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.block {
  border-radius: 8px;
  background-color: $background-base;
  width: 100%;
  padding: 16px 24px;

  @include desktop {
    background-image: linear-gradient(
      $background-elevated-base,
      $background-base
    );
  }
}

.main {
  margin-top: 16px;
}
