.block {
  border-radius: 8px;
  background-color: $background-base;
  height: 100%;
  width: 100%;

  @include desktop {
    background-image: linear-gradient(
      $background-elevated-base,
      $background-base
    );
  }
}
